# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=b4563afa0652c5a70b6ec575a55eb5d4c26a994d0b8191937c39f42e06bc12b6f543a88bc0caad0cd9b8b84db4889a2e801d4c20e929b9c32eac6778440c6834
REDIS_URL=redis://localhost:6379/8
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
