<footer id="footer" class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      <p class="center" style="padding: 2rem;">© CoinFocus <%= Time.zone.now.strftime("%Y") %></p>
    </div>

    <div class="col-sm-8">
      <p style="padding: 2rem;">
        <a href="/disclaimer">DISCLAIMER</a><br /> Consult a licensed financial advisor before engaging in any trading activity.
        <br/>CoinFocus does not offer trading, financial or other advise.
        <br/>This data is provided for education and entertainment purposes only.
      </p>
    </div>
  </div>
</footer>
