
<!-- /.parallax full screen background image -->
<div class="fullscreen landing parallax" style="" data-img-width="2000" data-img-height="1333" data-diff="100">

	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-7">

					<!-- /.logo -->
					<div class="wow fadeInDown">
						<h1 class="site-title text-logo"><%= image_tag "logo.png", :class => "img-responsive logo-img" %></h1>
					</div>

					<!-- /.main title -->
						<h2 class="site-desc wow fadeInLeft">
						  Advanced Cryptocurrency<br />
              <strong>Tracking & Predictions</strong>
						</h2>

					<!-- /.header paragraph -->
					<div class="landing-text wow fadeInUp">
						<h3 id="slogan"><strong>Own</strong> the markets</h3>
					</div>

				</div>

				<!-- /.signup form -->
				<div class="col-md-5">
          <!-- Begin MailChimp Signup Form -->

					<div class="signup-header wow fadeInUp">
            <!-- Begin MailChimp Signup Form -->
				      <%= render :partial => 'devise/registrations/register' %>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
