<!-- /.signup form -->
<div class="col-md-5">

  <div class="signup-header wow fadeInUp">
    <!-- Begin MailChimp Signup Form -->
      <%= render :partial => 'home/newsletter_form' %>

  </div>

</div>

<!-- /.intro content -->
<div class="col-md-offset-2 col-md-4 wow slideInRight">

  <h2 class="bitcoin-icon"><i class="fab fa-bitcoin"></i></h2>

</div>