<!-- /.package 1 -->
<div class="col-sm-<%= col_size %> package_item">
  <div class="price-box wow fadeInUp avail">
   <div class="price-heading text-center">

   <!-- /.package icon -->
    <i class="pe-7s-radio pe-5x"></i>

    <!-- /.package name -->
    <h3>Hobby</h3>
   </div>

   <!-- /.price -->
  <div class="price-group text-center">
    <span class="dollar">$</span>
    <span class="price">9</span>
    <span class="time">/mo</span>
  </div>

  <!-- /.package features -->
   <ul class="price-feature text-center">
    <li><strong>All</strong> coins</li>
    <li><strong>News Articles</strong> and statistics</li>
    <li><strong>Social Media Posts</strong> and statistics</li>
    <li>Cryptocurrency <strong>Portfolio Tracker</strong></li>
   </ul>

   <!-- /.package button -->
   <div class="price-footer text-center">
   <a class="btn btn-cta" href="/users/sign_up">SIGN UP</a>
  </div>
  </div>
</div>

<!-- /.package 2 -->
<div class="col-sm-<%= col_size %> package_item">
  <div class="price-box wow fadeInUp has_ribbon" data-wow-delay="0.2s">
    <div class="ribbon-green">COMING SOON</div>
   <div class="price-heading text-center">

     <!-- /.package icon -->
    <i class="pe-7s-joy pe-5x"></i>

     <!-- /.package name -->
    <h3>Trader</h3>
   </div>

   <!-- /.price -->
  <div class="price-group text-center">
    <span class="dollar">$</span>
    <span class="price">49</span>
    <span class="time">/mo</span>
  </div>

  <!-- /.package features -->
   <ul class="price-feature text-center">
    <li>Email & SMS<strong> Notifications</strong></li>
    <li>Mobile App<strong> Notifications</strong></li>
    <li><strong>Anonymous Chat</strong> with other users</li>
    <li>Personalized <strong>News Ticker</strong></li>
   </ul>

  <!-- /.package button -->
   <div class="price-footer text-center">
   <a class="btn btn-cta" href="/users/sign_up">SIGN UP</a>
  </div>
  </div>
</div>

<!-- /.package 3 -->
<div class="col-sm-<%= col_size %> package_item">
  <div class="price-box wow fadeInUp has_ribbon enterprise" data-wow-delay="0.4s">
    <div class="ribbon-green">COMING SOON</div>
    <div class="price-heading text-center">

      <!-- /.package icon -->
      <i class="pe-7s-science pe-5x"></i>

      <!-- /.package name -->
      <h3>Enterprise</h3>
   </div>


   <!-- /.price -->
  <div class="price-group text-center package-desc">
    <p>Available to high-volume cryptocurrency traders and organizations. Includes expanded tools, performance & the ability to build trading bots.</p>
  </div>

  </div>
</div>