<section>
  <div class="container">
  	<div class="row">
      <div class="col-sm-8">
        <h1>About CoinFocus</h1>
        <br/>
        <h2>There is no planned ICO. We're not actively looking for investors. There isn't a whitepaper.</h2>

        <p>
          We could be doing those things, but that's not how this started and that's not what the plan is right now.
          CoinFocus was in December 2017 as a hobby-project during the height of the latest Bitcoin uptick
          in order to better understand how cryptocurrencies worked.
        </p>

        <p>
          We set out to copy the functionality found on <a href="coinmarketcap.com" target="_blank">Coin Market Cap</a>
          as a means of understanding how it all ties together. It was created by an award winning programmer who has worked at
          <strong>industry leading startups</strong>. That's how he learns about things: he writes code.
        </p>

        <p>
          We very rapidly replicated the visual elements of Coin Market Cap, and shortly afterwards started replicating
          what they were doing under the hood. There was so much data and we wanted to collect all of it.
          To make things more genuine we didn't use their API to replicate their data.
        </p>

        <p>
          After a few weeks of writing code during the evenings and weekends it became clear that this
          platform, and the data it was collecting, could have tremendous value. Leveraging the power of
          <strong>machine learning</strong> to use <strong>AI</strong> to generate predictions on future crypto prices
          seemed to be the best path forward.
        </p>

        <h2>But something was missing.</h2>

        <p>
          The markets are so volatile. We needed better data. Looking for clues in social media trends and news stories
          helped us power a previous Machine Learning project, and it seemed reasonable that would be applicable here as well.
          We also had the advantage of having already built tools to accomplish this task. We repurposed
          them in order to start collecting social and news metrics as relevant as crypto prices themselves.
          That saved us months of work.
        </p>

        <p>
          Crypto is going to be around for a long time. We want to get in on the action. we've got more than enough time to
          build the right tools for the job. And the better the data we collect the more accurate my predictions will be.
        </p>

        <h2>That's what this is all about</h2>

        <p>
          We're building this platform to enable us to make the best possible decisions in our investments. It only makes
          sense to allow a select group of people to come along for the ride.
        </p>
        <div class="row">
          <%= render :partial => 'home/contact' %>
        </div>
      </div>
      <div id="sidebar" class="col-sm-4 package-option">

	      <%= render :partial => 'home/packages', :locals => { :col_size => 12} %>

      </div>
    </div>



  </div>
</section>