<section>
  <div class="container">
  	<div class="row">
      <div class="col-sm-12">
        <h1>CoinFocus Blog</h1>
        <p>We'll be putting out content relating to the ongoing development of CoinFocus
           as well as broader trends in cryptocurrency.</p>

        <%= render :partial => 'home/contact' %>

      </div>
    </div>
  </div>
</section>