<section class="dark-bg">
  <div class="container">
  	<div class="row">
      <div class="col-sm-12">
        <h1>Contact CoinFocus</h1>
        <p>Space will be limited.
          Sign up for our newsletter to stay informed of upcoming changes and availablity. Newsletter subscribers will
          be among the first to be informed of availability.</p>

        <%= render :partial => 'home/contact' %>
      </div>

  	</div>
  </div>
</div>