<section class="dark-bg">
  <div class="container">
  	<div class="row">

      <h1>Disclaimer</h1>
      <h2>This Is Not Investment Advice</h2>

      <p> The information provided through this site is not investment advice, financial advice, trading advice or any other kind of advice. CoinFocus does not reccomend purchasing, holding or selling any specific cryptocurrencies. Conducting your own due dilligence before engaging in any financial activities is imperative.</p>

      <p>The predictions made on this site are for entertainment purposes only and to illustrate the variate of data present to cryptocurrencies.</p>

      <h2>Information Quality & Accuracy</h2>

      <p>CoinFocus compiles small to large subsets of data from countless news sources and is incapable of ensure that measurements and data presented on this site are completely accurate.</p>

      <h2>WARNING</h2>

      <p>Crypotcurrency prices fluctuate wildly on a constant basis. Purchase crypotcurrencies responsibly. Do not purchase crypotcurrencies on credit. Conduct your due dilligence before purchasing cryptocurrencies. CoinFocus is not responsible or liable for any decisions you make with your own finances.</p>

    </div>
  </div>
</section>