<section>
  <div id="features" class="container">
    <div class="col-sm-8">
    	<div class="row">

        <div class="col-sm-12">
          <h1>CoinFocus Features</h1>

          <p>
            CoinFocus exists to help crypto traders make the best possible decisions during their trading.
          </p>
        </div>

      </div>

      <div class="row featureRow">
        <div class="col-sm-2">
          <h2 class="feature-icon"><i class="far fa-thumbs-up"></i></h2>
        </div>
        <div class="col-sm-10">
          <h3>Social & News</h3>
          <p>View articles & social media posts related to cryptocurrencies. CoinFocus constantly pulls in
          posts from top social media platforms and hundreds of relevant news sources. You can view this information
          in a complete chronological list for all coins or grouped with information for specific coins.</p>
          <p><strong>Coming soon:</strong> recieve SMS and email notifications.</p>
        </div>
      </div>
      <div class="row featureRow">
        <div class="col-sm-2">
          <h2 class="feature-icon"><i class="fas fa-code-branch"></i></h2>
        </div>
        <div class="col-sm-10">
          <h3>Artificial Intelligence</h3>
          <p><strong>Coming soon:</strong> Comprehensive predictions spanning multiple timelines using complex algorithms.
          Our algorithms make their decisions based on the current value of a coin, the current value of other comparable coins,
          social media & news sources, sentiment analysis of written content & countless other metrics.</p>
        </div>
      </div>
      <div class="row featureRow">
        <div class="col-sm-2">
          <h2 class="feature-icon"><i class="fas fa-comments"></i></h2>
        </div>
        <div class="col-sm-10">
          <h3>Anonymous Chat</h3>
          <p><strong>Coming Soon:</strong> Chat with other users about coins, trends & opportunities. Chat in conversations about
          specific cryptocurrencies or with individual traders or groups of traders.</p>
          <p>Your email is never surfaced and you have control over your display name.</p>
        </div>
      </div>
      <div class="row featureRow">
        <div class="col-sm-2">
          <h2 class="feature-icon"><i class="fas fa-chart-line"></i></h2>
        </div>
        <div class="col-sm-10">
          <h3>Detailed Data</h3>
          <p>Hourly, daily, weekly and monthly results of all relevant Cryptocurrency metrics. Data is pulled in from
          multiple sources, with an ever-increasing number of sources being added to CoinFocus.</p>
        </div>
      </div>
      <div class="row featureRow">
        <div class="col-sm-2">
          <h2 class="feature-icon"><i class="fas fa-question-circle"></i></h2>
        </div>
        <div class="col-sm-10">
          <h3>Feature Requests</h3>
          <p><strong>Coming Soon:</strong> CoinFocus exists to help the founding team execute the best possible platform for cryptocurrency trading
          decision making. We recognize that we don't know everything and other traders may have other strategies or
        prioritize data differently than us. Feature requests allow us to constantly refine our platform in order to help us execute better trades.</p>
        </div>
      </div>
    </div>
    <div id="sidebar" class="col-sm-4 package-option">

      <%= render :partial => 'home/packages', :locals => { :col_size => 12} %>

    </div>

  </div>
</section>