<% provide(:title, "Social Media Posts about Top Cryptocurrencies") %>
<section class="dark-bg">
  <div class="container">
  	<div class="row">
      <h1>Recent Reddit Mentions of Cryptocurrencies</h1>
      <p>The following social media content is fetched automatically from numerous
        users and keyword searches. We're always working to fetch more content and fine-tune our
        product.</p>
        <h4>Coinfocus does not endorse the views displayed in these posts. These posts are automatically curated and displayed here.</h4>

        <%= render :partial => 'social_mentions/social_list', :locals => { :coin_social_mentions => @coin_social_mentions, :content_type => "social_media"} %>

    </div>
  </div>
</section>